{% extends "base.html" %}
{% block content %}

<!-- <div class="container" style="max-width:800px;">
    <div class="row">
        <div class="col">
            <h1><b>Sharjeel Mustafa</b></h1>
            <p>Software Developer</p>
        </div>
    </div>
</div> -->

<div class="flex-grow-1 d-flex align-items-center shadow-sm rounded mb-4" style="background-color: #BFEA7C; height: calc(66.67vh - 56px);">
    <div class="container p-3 ms-4">
        <h1><b>Halal Eats</b></h1>
        <p>Your one stop shop for all your cravings!</p>
        <a class="btn btn-dark" href="/list">Get Started</a>
    </div>
</div>

<!-- INFORMATION SECTION -->

<div class="row">
    <div class="col-2">
        <nav id="about-toc" class="h-100 flex-column align-items-stretch">
            <nav class="nav nav-pills flex-column">
                <!-- Section 1 -->
                <a class="nav-link" href="#item-1">Technical</a>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-3 my-1" href="#item-1-1">Languages</a>
                    <a class="nav-link ms-3 my-1" href="#item-1-2">Libraries</a>
                    <a class="nav-link ms-3 my-1" href="#item-1-3">Concepts</a>
                </nav>
                <!-- Section 2 -->
                <a class="nav-link" href="#item-2">Education</a>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-3 my-1" href="#item-3-1">Senior Research</a>
                </nav>

                <!-- Section 3 -->
                <a class="nav-link" href="#item-3">Experience</a>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-3 my-1" href="#item-3-1">Research Assistant</a>
                    <a class="nav-link ms-3 my-1" href="#item-3-2">Data Scientist</a>
                    <a class="nav-link ms-3 my-1" href="#item-3-2">Teaching Assistant</a>
                    <a class="nav-link ms-3 my-1" href="#item-3-2">Software Developer</a>
                </nav>

                <a class="nav-link" href="#item-4">Appendix</a>

            </nav>
        </nav>
    </div>
    
    <div class="col-8">
        <div class="container" style="max-width:800px;">
        <div data-bs-spy="scroll" data-bs-target="#about-toc" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
            <!-- Section 1 Information-->
            <div id="item-1">
                <h2><b>Technical</b></h2>
                <hr>
                <div id="item-1-1">
                    <h5><b>Languages</b></h5>
                    <p>
                        <i>Ordering: Extensive, Significant, Moderate, Limited.</i> <br>
                        <i>Note: An * refers to an exceptionally complex or significant use</i>
                    </p>
                    <ul>
                        <li><b>Python</b>: Extensive use <a class="clean-link" href="item-4">[1]-[3], [16], [18]-[25]</a></li>
                        <li><b>SQL</b>: Extensive Use <a class="clean-link" href="#item-4">[4], [16*], [17], [22], [23]</a></li>
                        <li><b>Java</b>: Moderate Use <a class="clean-link" href="#item-4">[5]-[7]</a></li>
                        <li><b>C/C++</b>: Significant Use <a class="clean-link" href="#item-4"> </a></li>
                        <li><b>JavaScript</b>: Limited Use <a class="clean-link" href="#item-4"></a></li>
                        <li><b>HTML/CSS</b>: Moderate Use <a class="clean-link" href="#item-4">[14], [18], [20], [22]-[24]</a></li>
                        <li><b>Assmebly</b>: Limited Use <a class="clean-link" href="#item-4">[15]</a></li>
                    </ul>
                </div>
                <div id="item-1-2">
                    <h5><b>Technologies</b></h5>
                    <ul>
                        <li>Data/ML: Pandas, NumPy, PyTorch, PyTorch Geometric, Matplotlib/Seaborne, Transformers, Spacy</li>
                        <li>Web Dev: Flask, Bootstrap, SQLAlchemy, WTForms</li>
                        <li>Other: Git, Neo4j, RedisQ, GraphQL, </li>
                    </ul>
                </div>
                <div id="item-1-3">
                    <h5><b>Concepts</b></h5>
                    <p>Unexpected concepts from my degree I actually use a lot:</p>
                    <p>Regex, software architectures (especially layered), functional programming, object oriented programming, multithreading, multiprocessing, graphs & graph theory </p>
                    
                    
                </div>
            </div>

            <!-- Section 2 Information-->
            <div id="item-2">
                <h2><b>Education</b></h2>
                <hr>
                <b>Bachelor of Honours Computer Science, Software Engineering Specialization</b>
                <p>University of Windsor, GPA: 92%</p>

                <b>Awards and Honours</b>
                <ul>
                    <li>Dean's List<br> 
                        <i class="text-muted">Cumulative average over eighty percent</i></li>
                    <li>President's Honour Roll<br>
                        <i class="text-muted">Cumulative average over ninety percent</i></li>
                    <li>Elizabeth Ellen Tilston Memorial Fund<br>
                        <i class="text-muted">Awarded on academic excellence, leadership, and commitment to community</i></li>
                    <li>Outstanding Scholars Award</li>
                    <li>Oustanding Scholar<br>
                        <i class="text-muted">Eighty students selected from top 250 in first year</i></li>
                    <li>Rising Star Award <a class="clean-link" href="#item-4">[26], [27]</a><br>
                        <i class="text-muted">Awarded to students to recognize exceptional contributions and impact made during work term</i>
                    </li>
                </ul>
            </div>

            <!-- Section 3 Information-->
            <div id="item-3">
                <h2><b>Experience</b></h2>
                <hr>
                <p>...</p>

                <div id="item-3-1">
                    <h5>Research Assistant</h5>

                    <h6>Finance</h6>
                    <h6>Computer Science</h6>
                    <h6>Business</h6>
                    <p></p>
                </div>

                <div id="item-3-2">
                    <h5>R&D Data Scientist</h5>
                    <p>...</p>
                </div>

                <div id="item-3-3">
                    <h5>Teaching Assistant</h5>
                    <p>...</p>
                </div>

                <div id="item-3-5">
                    <h5>Software Developer</h5>
                    <p>...</p>
                </div>
            </div>

            <!-- Section 4 Information-->
            <div id="item-4">
                <h2><b>Appendix</b></h2>
                <hr>
                
                <ol style="font-family: 'Courier New', Courier, monospace;">
                    <!-- Courses: Python -->
                    <li>Sep 2018 - Jun 2019, Vincent Massey Secondary School, ICS3U-06 (Course)</li>
                    <li>Jan 2022 - Apr 2019, University of Windsor, COMP-2067 (Course) </li>
                    <li>Jan 2024 - Aug 2024, University of Windsor, COMP-4960 (Course) </li>
                    
                    
                    <!-- Courses: SQL -->
                    <li>Sep 2022 - Dec 2022, University of Windsor, COMP-3150 (Course) </li>
    

                    <!-- Courses: Java -->
                    <li id="r5">Sep 2021 - Dec 2021, University of Windsor, COMP-2120 (Course) </li>
                    <li id="r6">Jan 2022 - Apr 2022, University of Windsor, COMP-2800 (Course) </li>
                    <li id="r7">Jan 2024 - Apr 2024, University of Windsor, COMP-4110 (Course) </li>


                    <!-- Courses: C/C++ -->
                    <li>Sep 2020 - Dec 2020, University of Windsor, COMP-1400 (Course) </li>
                    <li>Jan 2021 - Apr 2021, University of Windsor, COMP-1410 (Course) </li>
                    <li>Sep 2021 - Dec 2021, University of Windsor, COMP-2560 (Course) </li>
                    <li>Jan 2023 - Apr 2023, University of Windsor, COMP-3300 (Course) </li>
                    <li>Jan 2023 - Apr 2023, University of Windsor, COMP-3400 (Course) </li>
                    <li>Jan 2024 - Apr 2024, University of Windsor, COMP-4800 (Course) </li>

                    <!-- Courses: CSS/HTML -->
                    <li>May 2024 - Aug 2024, University of Windsor, COMP-2057 (Course) </li>

                    <!-- Courses: Assembly -->
                    <li>Jan 2022 - Apr 2022, University of Windsor, COMP-2660 (Course)</li>

                    <!-- Coops -->
                    <li>May 2023 - Dec 2023, Swift Medical, Data Scientist (Coop) </li>
                    <li>May 2022 - Aug 2022, Connecting with Technology, Software Developer (Coop) </li>

                    <!-- Research Assistantships -->
                    <li>Sep 2021 - Apr 2022, University of Windsor (Odette), Research Assistant </li>
                    <li>Sep 2022 - Dec 2022, University of Windsor (Fani-Lab), Research Assistant </li>
                    <li>Jan 2023 - Apr 2023, University of Windsor (Odette), Research Assistant </li>
                    <li>Jan 2024 - Aug 2024, University of Windsor (Odette), Research Assistant </li>

                    <!-- Projects -->
                    <li>Inventory Management System (Project)</li>
                    <li>Personal Website (Project)</li>
                    <li>HalalEats (Project)</li>
                    <li>MontyBot (Project)</li>

                    <!-- Other -->
                    <li><a href="https://www.uwindsor.ca/dailynews/2024-03-21/academic-foundation-helps-student-thrive-co-op-position" target="_blank">"Academic Foundation Helps Student Thrive in Co-op Position," University of Windsor Daily News</a></li>
                    <li><a href="https://www.linkedin.com/posts/sandra-davis-02158853_computer-science-co-op-student-sharjeel-activity-7176938336559771650-q-tw?utm_source=share&utm_medium=member_desktop" target="_blank">LinkedIn Post by Sandra Davis: "Computer Science Co-op Student Sharjeel"</a></li>
                </ol>


                

            <!-- End Information Sections -->
        </div>
    </div>
</div>
</div>


<script>
    const scrollSpy = new bootstrap.ScrollSpy(document.body, {
        target: '#navbar-example'
    })
</script>
{% endblock content %}
