{% extends 'base.html' %} 
{% block title %} {{ title }} {% endblock %} 

<!-- BLOCK CONTENT -->
{% block content %}

<!-- PAGE HEADER -->
<div class="flex-grow-1 d-flex align-items-center shadow rounded mb-4 ps-2 title-box" style="background: var(--gradient-indian);">
    <div class="container p-3">
        <h1 class="mono-title"><b>PROJECTS</b></h1>
        <p>Basically a more detailed and citation-supported resume</p>
    </div>
</div>
<br>

<!-- SEARCH GROUP -->
<div class="container mb-5" style="max-width:800px;">
    <form method="POST" class="mx-2 px-1 mb-4">
        {{ form.hidden_tag() }}
        <div class="row">
            <!-- DROP DOWN BUTTON 1: Type -->
            <div class="col">
                <select class="form-select shadow-sm rounded" name="{{ form.proj_type.name }}">
                    <option value="" disabled selected>{{ form.proj_type.label }}</option>
                    {% for value, label in form.proj_type.choices %}
                        <option value="{{ value }}" {% if form.proj_type.data == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback m-0 p-0"></div>
            </div>
            <!-- DROP DOWN BUTTON 2: VERIFICATION -->
            <div class="col">
                <select class="form-select shadow-sm rounded" name="{{ form.main_lang.name }}">
                    <option value="" disabled selected>{{ form.main_lang.label }}</option>
                    {% for value, label in form.main_lang.choices %}
                        <option value="{{ value }}" {% if form.main_lang.data == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback m-0 p-0"></div>
            </div>
            <div class="col-1 ">
                {{ form.submit(class="btn btn-dark shadow-sm") }}   
            </div>
    </form>
</div>
<!-- END SEARCH GROUP -->

<!-- CARD LISTING -->
<div class="container" style="max-width:800px;">

    {% for project in projects.items %}

    <!-- Start Card -->
    <div class="card mb-3" style="border-color: rgb(222, 226, 230);">
        <div class="row g-0 shadow-sm rounded" style="overflow: hidden;">
            <div class="col-1 colour-{{ project.main }}"></div>
            <div class="col">
                <!-- Start Card Body -->
                <div class="card-body">
                    <h5 class="card-title">
                        <b>{{ project.name }}</b>
                        <!-- Edit and delete button -->
                        {% if user.is_authenticated %}
                        <a 
                            class="btn btn-outline-secondary float-end ms-2 " 
                            style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                            href="{{ url_for('routes/project.update', project_id = project.id) }}">
                            &#9998;
                        </a>
                        <button 
                            type="button" 
                            class="btn btn-outline-danger float-end" 
                            style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                            data-project-url="{{ url_for('routes/project.delete', project_id = project.id) }}"
                            data-bs-toggle="modal" data-bs-target="#deleteModal" data-project-id="{{ project.id }}">
                            &times;
                        </button>
                        {% endif %}
                    </h5><hr class="mb-3 mt-0">
                    <div class="row">
                        <!-- Info Section -->
                        <div class="col"><p class="card-text">
                            <strong>Decription:&nbsp;</strong>{{ project.description }}<br>
                            <strong>Additional:&nbsp;</strong>{{ project.langtools }}<br>
    
                        </p></div>
                        <!-- Button & Tag -->
                        <div class="col-1">
                            <span class="badge colour-{{ project.main }} float-end">{{ project.main.title() }}</span><br>
                            <!-- {% if project.certificate_file %}
                            
                            <button 
                                type="button" 
                                class="btn btn-dark float-end" 
                                data-bs-toggle="modal" 
                                data-bs-target="#imageModal" 
                                data-certificate-file="{{ project.certificate_file }}" 
                                data-certificate-url="{{ url_for('static', filename='certificates/' + project.certificate_file) }}">
                                Certificate Picture
                            </button>
                            {% else %}
                            <button type="button" class="btn btn-dark float-end" disabled>
                                Certificate Picture
                            </button>
                            {% endif %} -->
                        </div> <!-- End Info-->
                        
                    </div>
                </div> <!-- End Card Body -->
            </div>
        </div>
    </div> <!-- End Card-->
    {% endfor %} 
    
    {% if not projects.items%}
    <div class="text-center">
        <a><b>No Projects</b></a>
    </div>
    {% endif %}
    <!-- END CARD LISTING -->

    <!-- BEGIN PAGINATION-->
    {% for page_num in projects.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
        {% if page_num %}
            {% if projects.page == page_num %}
                <a class="btn btn-dark mb-4" href="{{ url_for('routes/main.home',page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-dark mb-4" href="{{ url_for('routes/main.home',page=page_num) }}">{{ page_num }}</a>
            {% endif%}
        {% else %}
            ...
        {% endif%}
    {% endfor %}
    <!-- END PAGINATION-->

    <!-- BEGIN IMAGE MODAL-->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-content">
            <!-- Modal Information -->
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Certificate Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Certificate -->
            <div class="modal-body">
                <img id="certificateImage" class="img-fluid" alt="Certificate Image">
            </div>
        </div>
    </div>
    <!-- END IMAGE MODAL-->

    <!-- BEGIN DELETE MODAL-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Project?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Once deleted it's gone forever. You can't undo this action.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form id="deleteForm" method="POST" action="">
                        <input type="hidden" id="projectIdInput" name="project_id" value="">
                        <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE MODAL-->

</div>
<script src="../static/load_modal.js"></script>
<script src="../static/input_validation.js"></script>
{% endblock %}