{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}

<!-- BLOCK CONTENT -->
{% block content%}
<div class="container">
    <form method="POST" class="mx-auto needs-validation col-lg-6 col-md-8" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <h3 align="center">{{ title }}</h3>
        <br/>
        <div class="input-group mb-3 shadow-sm rounded">
            <span class="input-group-text" style="min-width: 110px;">Name</span>
            {{form.name(class="form-control rounded-end", placeholder="Enter Name")}}
            <div class="invalid-feedback m-0 p-0"></div>
        </div>
        <div class="input-group mb-3 shadow-sm rounded">
            <span class="input-group-text" style="min-width: 110px;">Address</span>
            {{form.address(class="form-control rounded-end", placeholder="Enter Address")}}
            <div class="invalid-feedback m-0 p-0"></div>
        </div>
        <div class="mb-3 shadow-sm rounded">
            <div class="custom-file">
                {{form.picture(class="form-control rounded-end", type="file", id="formFile")}}
            </div>
        </div>
        <div class="row">
            <!-- DROP DOWN BUTTON 1: CUiSINE -->
            <div class="col">
                <select class="form-select shadow-sm rounded" name="{{ form.cuisine.name }}" required>
                    <option value="" disabled selected>{{ form.cuisine.label }}</option>
                    {% for value, label in form.cuisine.choices %}
                        <option value="{{ value }}" {% if form.cuisine.data == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback m-0 p-0"></div>
            </div>
            <!-- DROP DOWN BUTTON 2: VERIFICATION -->
            <div class="col">
                <select class="form-select shadow-sm rounded" name="{{ form.verification.name }}" required>
                    <option value="" disabled selected>{{ form.verification.label }}</option>
                    {% for value, label in form.verification.choices %}
                        <option value="{{ value }}" {% if form.verification.data == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback m-0 p-0"></div>
            </div>
            <!-- DROP DOWN BUTTON 3: ALCOHOL -->
            <div class="col">
                <select class="form-select shadow-sm rounded" name="{{ form.alcohol_service.name }}" required>
                    <option value="" disabled selected>{{ form.alcohol_service.label }}</option>
                    {% for value, label in form.alcohol_service.choices %}
                        <option value="{{ value }}" {% if form.alcohol_service.data == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback m-0 p-0"></div>
            </div>
        </div>
        {{ form.submit(class="btn btn-dark mb-3 mt-3 shadow-sm rounded col-12") }}
    </form>
</div>
<script src="../static/input_validation.js"></script>
{% endblock %}