{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}

<!-- BLOCK CONTENT -->
{% block content%}
<div class="container">
    <form method="POST" class="mx-auto needs-validation col-lg-6 col-md-8" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <h3 align="center">{{ title }}</h3>
        <br/>
        <!-- NAME -->
        <div class="input-group mb-3 shadow-sm rounded">
            <span class="input-group-text" style="min-width: 110px;">Name</span>
            {{form.name(class="form-control rounded-end", placeholder="Enter Name")}}
            <div class="invalid-feedback m-0 p-0"></div>
        </div>
        <!-- DESCRIPTION -->
        <div class="input-group mb-3 shadow-sm rounded">
            <span class="input-group-text" style="min-width: 110px;">Description</span>
            {{form.description(class="form-control rounded-end", placeholder="Enter Description")}}
            <div class="invalid-feedback m-0 p-0"></div>
        </div>
        <!-- GITHUB -->
        <div class="input-group mb-3 shadow-sm rounded">
            <span class="input-group-text" style="min-width: 110px;">GitHub</span>
            {{form.github(class="form-control rounded-end", placeholder="Enter GitHub Link")}}
            <div class="invalid-feedback m-0 p-0"></div>
        </div>
        <!-- GITHUB -->
        <div class="input-group mb-3 shadow-sm rounded">
            <span class="input-group-text" style="min-width: 110px;">Additional</span>
            {{form.langtools(class="form-control rounded-end", placeholder="Enter Other Languages & Tools")}}
            <div class="invalid-feedback m-0 p-0"></div>
        </div>
        <div class="row">
            <!-- DROP DOWN BUTTON 1: TYPE -->
            <div class="col">
                <select class="form-select shadow-sm rounded" name="{{ form.proj_type.name }}" required>
                    <option value="" disabled selected>{{ form.proj_type.label }}</option>
                    {% for value, label in form.proj_type.choices %}
                        <option value="{{ value }}" {% if form.proj_type.data == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback m-0 p-0"></div>
            </div>
            <!-- DROP DOWN BUTTON 2: LANGUAGE -->
            <div class="col">
                <select class="form-select shadow-sm rounded" name="{{ form.main_lang.name }}" required>
                    <option value="" disabled selected>{{ form.main_lang.label }}</option>
                    {% for value, label in form.main_lang.choices %}
                        <option value="{{ value }}" {% if form.main_lang.data == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback m-0 p-0"></div>
            </div>
        </div>
        {{ form.submit(class="btn btn-dark mb-3 mt-3 shadow-sm rounded col-12") }}
    </form>
</div>
<script src="../static/input_validation.js"></script>
{% endblock %}