:root {
    --gradient-arabic: linear-gradient(135deg, #d7f481, #69c82a);
    --gradient-turkish: linear-gradient(135deg, #fbcb84, #ea3c07);
    --gradient-indian: linear-gradient(135deg, #f5d865, #ff7700);
    --gradient-american: linear-gradient(135deg, #65dff5, #00a6ff);
    --text-dark: #2c2c2c;
}



/* GRADIENT MAPPINGS */
.colour-python {
    background: var(--gradient-arabic);
    color: var(--text-dark);
}

.colour-cppc {
    background: var(--gradient-turkish);
}

.colour-csharp {
    background: var(--gradient-indian);
}

.colour-javascript {
    background: var(--gradient-american);
}

.colour-java {
    background: linear-gradient(135deg, #65dff5, #00a6ff)
}

/* STYLES */
.title-box {
    height: calc(20vh);
}

.title-box-lg {
    height: calc(66.67vh);
}

.darkred {
    color: darkred;
}

.clean-link {
    color: darkred;
    text-decoration: none;
}

.mono-font {
    font-family: 'Courier New', Courier, monospace;
}

.mono-title {
    font-size: 54px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 2px;
}

.nav-link {
    color: gray;
}

.nav-link.active {
    background-color: rgb(56, 56, 56) !important;
    color: white !important;
}

.nav-link:focus,
.nav-link:hover {
    color: black;
}

#about-toc {
    position: absolute;
    top: auto;
    z-index: 1000;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .divider {
        display: none;
    }
}

/* PROFILE IMAGE ANIMATION */
.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #3e3e3e;
    animation: wiggle 8s infinite;
    box-shadow: 0 0 3px 3px rgba(149, 149, 149, 0.5);
}

@keyframes wiggle {
    0% {
        transform: rotate(-1deg);
    }

    25% {
        transform: rotate(1deg);
    }

    50% {
        transform: rotate(-1deg);
    }

    75% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(-1deg);
    }
}