.colour-arabic {
    background: linear-gradient(135deg, #d7f481, #69c82a);
}

.colour-turkish {
    background: linear-gradient(135deg, #fbcb84, #ea3c07);
}

.colour-indian {
    background: linear-gradient(135deg, #f5d865, #ff7700)
}

.colour-american {
    background: linear-gradient(135deg, #65dff5, #00a6ff)
}

.clean-link {
    color: darkred;
    text-decoration: none;
}